<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<body>
<h2>秒杀商品详情</h2>
<span th:if="${user eq null}">未登录</span>
<span>没有收货地址</span>
<table id="goods" border="5">
    <tr>
        <td>商品名称</td>
        <td colspan="3" th:text="${goods.goodsName}"></td>
    </tr>
    <tr>
        <td>商品图片</td>
        <td colspan="3"><img th:src="@{${goods.goodsImg}}" width="200" height="200" alt="" src=""></td>
    </tr>
    <tr>
        <td>秒杀开始时间</td>
        <td th:text="${#dates.format(goods.startDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td id="secKillTip">
            <span th:if="${secKillStatus eq 0}">秒杀倒计时:
                <input type="hidden" id="remainSeconds" th:value="${remainSeconds}">
                <span id="countDown" th:text="${remainSeconds}"></span>秒
            </span>
            <span th:if="${secKillStatus eq 1}">秒杀进行中</span>
            <span th:if="${secKillStatus eq 2}">秒杀已结束</span>
        </td>
    </tr>
    <tr>
        <td>商品原价</td>
        <td colspan="3" th:text="${goods.goodsPrice}"></td>
    </tr>
    <tr>
        <td>秒杀价</td>
        <td colspan="3" th:text="${goods.seckillPrice}"></td>
    </tr>
    <tr>
        <td>秒杀库存数量</td>
        <td colspan="3" th:text="${goods.stockCount}"></td>
    </tr>
    <tr>
        <td colspan="3">
            <form id="secKillForm" method="post" action="/secKill/doSecKill">
                <input type="hidden" name="goodsId" th:value="${goods.id}">
                <button type="submit" id="buyButton"
                style="width: 100%; height: 100%">立即购买</button>
            </form>
        </td>
    </tr>
</table>
</body>
<script>

    $(function (){
        countDown()
    })

    let countDown = function (){
        let remainSeconds = $("#remainSeconds").val();
        let timeout;
        if (remainSeconds>0){
            $("#buyButton").attr("disabled", true)
            timeout = setTimeout(function (){
                $("#countDown").text(remainSeconds-1)
                $("#remainSeconds").val(remainSeconds-1)
                countDown()
            }, 1000)
        } else if (remainSeconds == 0){
            if (timeout){
                clearTimeout(timeout)
            }
            window.location.reload()
        }
    }

    function dateFormat(fmt, date) {
        let ret;
        const opt = {
            "Y+": date.getFullYear().toString(),        // 年
            "m+": (date.getMonth() + 1).toString(),     // 月
            "d+": date.getDate().toString(),            // 日
            "H+": date.getHours().toString(),           // 时
            "M+": date.getMinutes().toString(),         // 分
            "S+": date.getSeconds().toString()          // 秒
        };
        for (let k in opt) {
            ret = new RegExp("(" + k + ")").exec(fmt);
            if (ret) {
                fmt = fmt.replace(ret[1], (ret[1].length == 1) ? (opt[k]) : (opt[k].padStart(ret[1].length, "0")))
            }
        }
        return fmt;
    }
</script>
</html>